<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Admin</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>/G2JW20f6qMr9V6By7kCTjvW3qqz2fTU1oC2WlpsNp/Fd+c/R4rPFN6tKkpSiXA+</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Alle</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$kxNBzTVex9xX0M/xPTCs8OdSe15BGMT2JraA89rwn.AnJIh73xL6y</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
  </properties>
</user>